@import url(https://coolors.co/4666ff);

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Permanent Marker", cursive;
  font-weight: 400;
  font-style: normal;
}

header > h1{
  text-align: center;
  padding: 20px;
  color: whitesmoke;
  box-shadow: 0 0 50px red;
  font-size: 40px;
  text-shadow: 0 0 30px red;
}

body{
  text-align: center;
  background-color: black;
  color: white;
}

img{
  height: 80px;
  padding: 10px
}

#score-board{
  position: relative;
  border: solid;
  width: 250px;
  height: 100px;
  margin: 30px auto;
  align-content: center;
  font-size: 50px;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0 0 10px #34f240;
  margin-top: 75px;
}

.choice{
  display: inline-block;
  border-style: solid;
  border-color: transparent;
  margin: 10px;
  padding: 22px;
  border-radius: 50%;
}

.badge{
  background-color: red;
  width: 70px;
  font-size: 18px;
  text-align: center;
  padding-bottom: 3px;
  border-radius: 5px;
  box-shadow: 0 0 5px;
}

#user-badge{
  position: absolute;
  top: 30px;
  left: -40px;
}

#cpu-badge{
  position: absolute;
  top: 30px;
  right: -40px
}

.choice:hover{
  cursor: pointer;
  box-shadow: 0 0 10px #34f240; 
  transition: 500ms
}

h3{
  margin-top: 10px;
}

.red-text{
  color: red;
  font-size: x-large;
  text-shadow: 0 0 15px;
}

#reset-button{
  position: absolute;
  color: white;
  font-size: 18px;
  left: 90px;
  top: 81px;
  cursor: pointer;
  display: none;
}

#reset-button:hover{
  transition: 500ms;
  color: black;
}

#result{
  display: inline-block;
  height: 100px;
  width: 300px;
  padding: 20px;
  margin: 20px;
}

#auto-play{
  position: absolute;
  left: 75px;
  bottom: 80px;
  width: 100px;
  display: none;
}

#auto-play:hover{
  transition: 500ms;
  color: black;
}

#user-score{
  color: red;
  text-shadow: 0 0 5px;
}

#cpu-score{
  color: red;
  text-shadow: 0 0 5px;
}

#message{
  margin-top: 30px;
}

#git-hub-link{
  position: absolute;
  right: 30px;
}

@media (max-width: 675px) {
  header h1 {
    font-size: 25px;
  }
  
  #score-board {
    transform: scale(.70);
    transform-origin: auto;
  }
 
  #choices{
    transform: scale(.60);
    transform-origin: auto;
  }
  
}
